name: CI-CD-Final

on:
  push:
    branches: [ "main" ]

jobs:
  despliegue:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar codigo
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir y Subir
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-final:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-final:latest